<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}</h1>
<form method="POST" action="/test">
    {{ form.csrf_token }}
    {{ form.name.label }} <br>
    {{ form.name() }} <br>
    {{ recaptcha }} <br>
    {{ form.submit() }}
</form>
</body>
</html>